<!DOCTYPE html>
<html>
<body>

<a href="www.nairaland.com">nairaland</a>

</body>
</html>








<v-card
class="mx-auto"
max-width="500"
>


<v-card-subtitle class="pb-0" justify="center">Orion Concepts</v-card-subtitle>

<v-card-text class="text--primary">
  <div id="app">
<v-app id="inspire">
<form>
 
  <v-text-field
  
    label="E-mail"
    required
  ></v-text-field>
  <v-text-field
        
        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
        
        :type="show1 ? 'text' : 'password'"
        name="input-10-1"
        label="Password"
        hint="At least 8 characters"
        counter
        @click:append="show1 = !show1"
      ></v-text-field>

       <button type="button" id="login-button" class="btn btn-primary btn-block btn-flat">Login</button> <hr>


        <div class="form-group pull-left">
  <v-checkbox 
    label="Remember me"
    required
   
  ></v-checkbox>
        </div>

<div class="form-group pull-right">
                        <a class="text-center" href="/index.php?r=site%2Frequest-password-reset">Forgot Password?</a>                      
</div>
</form>
</v-app>
</div>
</v-card-text>


</v-card>


<br>
<hr>